!!! 5
html(lang='en')  
	head  
		title My Kindle Clippings
		//- link(rel='stylesheet', href='/public/normalize.css')
		//- link(rel='stylesheet', href='/public/style.css')
		| <style type='text/css'>
		include ../public/normalize.css
		include ../public/css/application.css
		| </style>
		| <script type='text/javascript'>
		include ../public/jquery.js
		include ../public/jquery.highlight.js
		include ../public/scripts.js
		| </script>

	block content